@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");

html {
  scroll-behavior: smooth;
}

h1,
h2 {
  @apply text-black text-[26px] sm:text-[40px] md:text-[55px] lg:text-[70px] leading-none font-bold tracking-tight;
}

h3,
p {
  color: #ffffff;
}

.container {
  padding: 16px;
}

.about-me,
.socials {
  text-align: center;
}

.section-two {
  background-color: #ffffff;
  padding: 26px;
  border-radius: 20px 10px;
}

.socials > a {
  @apply flex items-center px-4 bg-white rounded-full font-bold;
}

.socials > img {
  @apply h-12 p-1 bg-white rounded-full;
}

.will-change-transform {
  will-change: transform;
}

.stack > p {
  @apply py-1 px-2 rounded-md bg-sky-500 text-sm;
}

.skill-detail > img {
  @apply bg-white p-1 rounded-md hover:scale-110 duration-300 transition-all md:w-auto md:h-9 h-[30px] w-auto;
}

.navbar-custom a {
  color: red;
  padding: 10px 14px;
}

.arrow-up-icon svg {
  width: 12px;
}
