.navbar {
  transform: translateX(0) translateY(150%);
  z-index: 1000;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.navbar.active {
  opacity: 1;
  transform: translateX(0) translateY(0);
  display: flex;
}

.navbarIconActive {
  color: blue !important;
  background-color: aqua;
  transition: opacity 0.5s ease, transform 0.5s ease;
}
